projects/*/logs_slurm
projects/*/logs_batch
projects/*/logs_hiccup
projects/*/logs
*/._*.png
*/*/._*.png
figs_grid_plot/*.png
projects/*/*.png
*/._*.png
*/*.png
__pycache__/
*/__pycache__/
*/*/__pycache__/
refine_map.dat
*/refine_map.dat
*/*/refine_map.dat
*.pyc
*.pyo
build/
taos.egg-info/
plans/